
.container {
	width: 100%;
	background-image: url('/assets/image/cnet_logo_redux.png');
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
}

#saveNote, #displayNote {
	width: 100%;
	height: 300px;
}

#article {
	height: 100%;
	overflow-y: scroll;
}